$font-body: Space Mono, monospace;
$font-color: #2748B3;
$h-color:#6B8EFF;
$background-color: #000;
$font-color1: #666;
$border:1px solid #ddd;
$background-color1:green;
$background-color2:red;
$background-color3:yellow;
$shadow-box: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
$max-with:100%;
$with:40%;
$margin_padding: 8px;
